
body{
 background-image:linear-gradient(to left,rgba(255, 255, 255, 0.665), rgb(93, 187, 167));
 width: 100px;
 height: 100vh;

}
    #Logo{
      
      width: 120px;
      height: 120px;
    }
    h1{
  cursor: pointer;
      font-size: 40px;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      background: -webkit-linear-gradient(rgb(38, 160, 44), rgba(124, 243, 229, 0.665));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

nav { 
  
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
   
  } 

  #menu  a{
padding: 50px;
    color: black;
  }
  #menu a:hover{
    background: -webkit-linear-gradient(rgb(38, 160, 44), rgba(124, 243, 229, 0.665));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }


   .circle{
     width: 1300px;
     height: 1300px;
     position: absolute;
     top: -100px;
     left: -590px;
     border-radius: 50%;
     background: white;
   

   }
   .doctor img{
     width: 600px;
     height: 600px;
    position: absolute;
    top: 160px;
    left: 0;
    z-index: 1;
 
  }
.text{
  left:60px;
  position: absolute;
  top: 750px;
  text-align: center;
 
  
}
/* .text h2{
  font-size: 2rem;
  background-color: #14675f;
  background-image: linear-gradient(to top,#6ae5da 0%,#1271d7 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip:text ;
  -webkit-text-fill-color:transparent;
  -moz-text-fill-color:transparent;
}
.text h3{
  font-size: 2rem;
  background-color: #14675f;
  background-image: linear-gradient(to bottom,#4eafbc 30%,#657dea 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip:text ;
  -webkit-text-fill-color:transparent;
  -moz-text-fill-color:transparent;
} */

/* .box-text{
  width: 580px;
  height: 200px;
  position: absolute;
  top: -40px;
  left:-30px;
  box-shadow: 0 2px 4px 0px rgb(9, 139, 186);
  border-radius: 100px;
}

  .text p{
    font-size: 1.6rem;
    position: relative;
    bottom: 0px;
    left: 60px;
  } */
