body{
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient( to right ,#80df66, #aff8f5);
  
}

    #Logo{
      
      width: 120px;
      height: 120px;
    }
    h1{
  cursor: pointer;
      font-size: 40px;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      background: -webkit-linear-gradient(rgb(38, 160, 44), rgba(124, 243, 229, 0.665));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

nav { 
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
   
  } 

  #menu  a{
padding: 50px;
    color: black;
  }
  #menu a:hover{
    background: -webkit-linear-gradient(rgb(38, 160, 44), rgba(124, 243, 229, 0.665));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .overlay{
    left: -340px;
    top: 115px;
  position: absolute;
    background-color:rgb(255, 255, 255);
    border-radius: 500px;
    width: 1000px;
    height: 1000px;

  }
  