/* .bacground img{

  width: 100%;
  height: 100vh;
} */
body{
 background-image:linear-gradient(to right,rgb(98, 210, 104), rgba(124, 243, 229, 0.665));
 width: 100px;
 height: 100vh;

}
    #Logo{
      
      width: 120px;
      height: 120px;
    }
    h1{
  cursor: pointer;
      font-size: 40px;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      background: -webkit-linear-gradient(rgb(38, 160, 44), rgba(124, 243, 229, 0.665));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

nav { 
  
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
   
  } 

  #menu  a{
padding: 50px;
    color: black;
  }
  #menu a:hover{
    background: -webkit-linear-gradient(rgb(38, 160, 44), rgba(124, 243, 229, 0.665));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }


   .box1{
     width: 1300px;
     height: 1300px;
     position: absolute;
     top: -100px;
     left: -590px;
     border-radius: 50%;
     background: white;
     /* box-shadow: 0  2px 2px 3px rgba(92, 186, 175, 0.738); */

   }
   .doctor img{
     width: 600px;
     height: 600px;
    position: absolute;
    top: 160px;
    left: 0;
    z-index: 1;
 
  }
.text{
  left:50px;
  position: absolute;
  top: 750px;
  text-align: center;
  
}
.text h1{
  font-size: 2rem;
  background-color: #14675f;
  background-image: linear-gradient(to top,#65e4d9 0%,#4cba64 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip:text ;
  -webkit-text-fill-color:transparent;
  -moz-text-fill-color:transparent;
}
   